flows.json
[{"id":"6e0fc146.aa56b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb2c37eb.10ab98","type":"ibmiot in","z":"6e0fc146.aa56b","authentication":"apiKey","apiKey":"946262b2.c6dfc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":180,"wires":[["def6ab62.4d9d58","686f6a23.9c0bb4","1e387ca7.85ba83","24cd83df.d964ac","73a6bc2.0d22144"]]},{"id":"def6ab62.4d9d58","type":"debug","z":"6e0fc146.aa56b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":140,"wires":[]},{"id":"686f6a23.9c0bb4","type":"function","z":"6e0fc146.aa56b","name":"temperature","func":"global.set('t',msg.payload.d.temperature)\nreturn{payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":260,"wires":[["def6ab62.4d9d58","d7c2e8ba.34c1c8","bd52e9b0.b0dfb8"]]},{"id":"1e387ca7.85ba83","type":"function","z":"6e0fc146.aa56b","name":"humidity","func":"global.set('h',msg.payload.d.humidity)\nreturn{payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":300,"wires":[["def6ab62.4d9d58","c2e4b238.2371d"]]},{"id":"d7c2e8ba.34c1c8","type":"ui_gauge","z":"6e0fc146.aa56b","name":"temperature","group":"572c4f30.3ef7f","order":0,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":260,"wires":[]},{"id":"c2e4b238.2371d","type":"ui_chart","z":"6e0fc146.aa56b","name":"humidity","group":"572c4f30.3ef7f","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":510,"y":300,"wires":[[]]},{"id":"f5facaaf.696308","type":"ui_gauge","z":"6e0fc146.aa56b","name":"objectTemp","group":"572c4f30.3ef7f","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":360,"wires":[]},{"id":"24cd83df.d964ac","type":"function","z":"6e0fc146.aa56b","name":"objectTemp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":360,"wires":[["f5facaaf.696308","def6ab62.4d9d58"]]},{"id":"bd4f32e5.cb636","type":"ui_button","z":"6e0fc146.aa56b","name":"LightON","group":"572c4f30.3ef7f","order":3,"width":0,"height":0,"passthru":false,"label":"LightON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lighton\"}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":80,"wires":[["85c8adf7.37349","f7eebe05.75f6"]]},{"id":"4c0e2287.bde70c","type":"ui_button","z":"6e0fc146.aa56b","name":"LightOFF","group":"572c4f30.3ef7f","order":4,"width":0,"height":0,"passthru":false,"label":"LightOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"lightoff\"}","payloadType":"json","topic":"topic","topicType":"msg","x":130,"y":120,"wires":[["85c8adf7.37349","f7eebe05.75f6"]]},{"id":"85c8adf7.37349","type":"debug","z":"6e0fc146.aa56b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":100,"wires":[]},{"id":"f7eebe05.75f6","type":"ibmiot out","z":"6e0fc146.aa56b","authentication":"apiKey","apiKey":"946262b2.c6dfc","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":610,"y":20,"wires":[]},{"id":"d104a8db.a494d8","type":"switch","z":"6e0fc146.aa56b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":800,"y":200,"wires":[["64cf93cb.3929cc"]]},{"id":"bd52e9b0.b0dfb8","type":"rbe","z":"6e0fc146.aa56b","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":680,"y":260,"wires":[["d104a8db.a494d8"]]},{"id":"64cf93cb.3929cc","type":"http request","z":"6e0fc146.aa56b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://fast2sms.com/dev/bulkV2?authorization=UGH68ptk3FmKbDBuis2ZS9MzgXoeqjlA5LrC7V0cJfhxyTN4QW40pxYkJR6aVIXbmNzPDioOTCcyUS7q&message=Temperature%20is%20very%20high&language=english&route=q&numbers=7731912629","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":360,"wires":[["6d0d455d.6bcd9c"]]},{"id":"6d0d455d.6bcd9c","type":"debug","z":"6e0fc146.aa56b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":420,"wires":[]},{"id":"183deee.456b111","type":"http in","z":"6e0fc146.aa56b","name":"http in","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":290,"y":480,"wires":[["555850d7.671dd"]]},{"id":"7269bf28.55de2","type":"http response","z":"6e0fc146.aa56b","name":"","statusCode":"","headers":{},"x":620,"y":460,"wires":[]},{"id":"555850d7.671dd","type":"function","z":"6e0fc146.aa56b","name":"http response","func":"msg.payload={\"t\":global.get('t'),\"h\":global.get('h')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":520,"wires":[["7269bf28.55de2"]]},{"id":"1ad92143.a5e51f","type":"http in","z":"6e0fc146.aa56b","name":"m input","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":190,"y":640,"wires":[["d74e59f1.984c18"]]},{"id":"b99c1ed7.5346a","type":"http response","z":"6e0fc146.aa56b","name":"","statusCode":"","headers":{},"x":680,"y":600,"wires":[]},{"id":"d74e59f1.984c18","type":"function","z":"6e0fc146.aa56b","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":660,"wires":[["b99c1ed7.5346a","39fbb4eb.d6f12c","44f565f0.8f430c"]]},{"id":"39fbb4eb.d6f12c","type":"debug","z":"6e0fc146.aa56b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":720,"wires":[]},{"id":"44f565f0.8f430c","type":"ibmiot out","z":"6e0fc146.aa56b","authentication":"apiKey","apiKey":"946262b2.c6dfc","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":580,"wires":[]},{"id":"73a6bc2.0d22144","type":"cloudant out","z":"6e0fc146.aa56b","name":"","cloudant":"","database":"sensordata","service":"node-red-ldlru-2021--cloudant-1621251546277-79558","payonly":true,"operation":"insert","x":500,"y":400,"wires":[]},{"id":"a017866c.8dcda8","type":"cloudant in","z":"6e0fc146.aa56b","name":"","cloudant":"","database":"sensordata","service":"node-red-ldlru-2021--cloudant-1621251546277-79558","search":"_all_","design":"","index":"","x":450,"y":720,"wires":[["7b4e8f38.0201b"]]},{"id":"1145a98b.a3af36","type":"inject","z":"6e0fc146.aa56b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":720,"wires":[["a017866c.8dcda8"]]},{"id":"7b4e8f38.0201b","type":"debug","z":"6e0fc146.aa56b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":780,"wires":[]},{"id":"5ea14b94.1b0044","type":"http request","z":"6e0fc146.aa56b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://f9c4774e-7384-4712-b5c0-767673786baf-bluemix.cloudant.com/newdatabase/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":840,"wires":[["e01e09d2.158148"]]},{"id":"45ed5fb4.d3d61","type":"inject","z":"6e0fc146.aa56b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":840,"wires":[["5ea14b94.1b0044"]]},{"id":"8d04fb9f.b9c178","type":"debug","z":"6e0fc146.aa56b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":840,"wires":[]},{"id":"e01e09d2.158148","type":"function","z":"6e0fc146.aa56b","name":"","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":840,"wires":[["8d04fb9f.b9c178","4042e0b9.388ea"]]},{"id":"4042e0b9.388ea","type":"ui_template","z":"6e0fc146.aa56b","group":"572c4f30.3ef7f","name":"","order":5,"width":0,"height":0,"format":"<img ng-src={{msg.payload}} height=\"470\" width=\"280\"/>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":680,"y":920,"wires":[[]]},{"id":"946262b2.c6dfc","type":"ibmiot","name":"iotdata","keepalive":"60","serverName":"ykmjw0.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"572c4f30.3ef7f","type":"ui_group","name":"Default","tab":"d1986f9a.253df","order":1,"disp":true,"width":"6","collapse":false},{"id":"d1986f9a.253df","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]